<main class="body">
   <div class="container mh-100">
      <div class="row g-0 bg-white rounded-4 shadow-lg align-content-center mh-100">
         <div class="col-lg-6 col-md-6 text-right mh-100">
            <aside class="ms-auto h-100 rounded-start-4 mobile-rounded  gr  p-lg-cstm text-center vcenter-hcenter">
               <img src="assets/img/studybanner.png" class="whiteStoke rounded-4 shadow-lg" alt="" />
            </aside>
         </div>
         <div class="col-lg-6 col-md-6 align-self-center" *ngIf="show_error==1">
            <div class="RightBlock row px-3  py-3 ">
               <div class="loginCntMiddle align-self-center text-center px-xl-5 py-xl-5 p-3">
                  <aside class="loginBlk">
                     <div class="loginCntHeader text-center  py-2 mb-5 rounded-3">
                        <img src="assets/img/logo.png" class="logo">
                     </div>
                     <h3 class="text-center mb-3"><strong>Forgot Password</strong></h3>
                     <form novalidate [formGroup]="logdata" (keydown.enter)="forgot()" (ngSubmit)="forgot()" >
                     <div class="row g-4">
                          <div class="col-md-12 col-12 ">
                            <div class="form-group ">
                                <label for="loginmobile">Mobile Number<span
                                  class="text-danger font-weight-bold">*</span></label>
                                <input type="text" id="loginmobile" name="loginmobile" class="form-control "
                                  onkeypress="return event.charCode>47 && event.charCode<58" minlength="10" maxlength="10" required autocomplete="off" formControlName="stdMobileNo"   placeholder="Enter Mobile No" (keydown)="chng_()">
                                  
                                 <div *ngIf="logdata.controls['stdMobileNo'].invalid && logdata.controls['stdMobileNo'].touched" class="text-danger text-center mt-2 ">
                                    <div *ngIf="logdata.controls['stdMobileNo'].errors">
                                        <b>Enter Mobile of Length 10</b> 
                                    </div>
                                  </div>
                            </div>
                          </div>
                          <h4 class="text-danger text-center" *ngIf="frg_pass_error!=''"> {{frg_pass_error}} </h4>
                        <div class="text-center col-12">
                           <button type="submit" class="btn btn-primary rounded-pill-OFF shadow btn-block   w-100"
                           id="login">Submit</button> <br>
                           <a href="#/"  class=" mt-4 d-block text-center" style="font-size: 14px; color: #555555; margin-top: 5px;"> Back to Login
                           </a>
                          
                        </div>
                     </div>
                     </form>
                  </aside>
               </div>
            </div>
         </div> 
         <div class="col-lg-6 col-md-6 align-self-center" *ngIf="show_error==2"> 
            <div class=" error-404-off" style=" height: 80vh; display: flex; align-items: center; justify-content: center;flex-direction: column;"> 
               <h2 class="text-center card-title"> Password sent to your registered mobile
               </h2> 
           
            <a class="btn btn-primary mt-3" href="#/login">Click here to Login </a>
         </div>
         </div>
      </div>
   </div>
</main>